* {
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

html {
  height: 100%;
}

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100%;
  margin: 0;
  color: white;
  overflow: hidden;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 2rem;
  white-space: pre-wrap;
  font-size: 1.2rem;
}

.terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2em;
  overflow-y: auto;
  justify-content: space-between;
}

.terminal__text {
  height: auto;
}

.terminal__input {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
}

.terminal__input input {
  left: 0.8em;
  position: absolute;
  background: 0;
  outline: 0;
  border: 0;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}
